@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

nav {
    background-color: #111;

    .navbar-brand {
        font-family: 'Lobster', cursive;
    }

    i {
        color: white;
    }
}

header {
    background-image: url('../images/jumbotron.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 3.5rem);

    > .container {
        position: relative;
        top: 36vh;
    }

    h1 {
        color: white;
        font-family: 'Lobster', cursive;
        
        @media(min-width: 768px) {
            font-size: 4rem;
        }
    }

    span {
        color: white;
        text-align: justify;
    }
}

footer {
    background-color: #111;
    color: white;
    padding: 2rem;
    text-align: center;
}
