<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>The Legal Drugstore</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a href="{{ url_for('landing') }}" class="navbar-brand">The Legal Drugstore</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store') }}">Store</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">For Devs</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{ url_for('api') }}" target="_blank">Public APIs</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="https://github.com/eeshaanachar/the-legal-drugstore" target="_blank">Source Code</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="height: 3.5rem;"></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} m-0" role="alert">
                <div class="container"> {{ message }} </div>
            </div>
        {% endfor %}
    {% endwith %}

    {% block content %}{% endblock %}

    <footer>
        <p>This website is our miniproject for the CS735 course at JSSSTU, Mysore</p>
        <p>Developed with &#10084; by Anirudh, Eeshaan and Navneet
    </footer>
    <div></div>

    <script src="https://use.fontawesome.com/ec982decd0.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>